<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-header"></div>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto fle x-column bg">
    <header th:replace="fragments/common :: fragment-header"></header>
    <div class="section section-md pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!-- Card -->
                    <div th:each="plan : ${plans}">
                        <div class="card bg-white border-light shadow-soft p-2 p-md-4 p-lg-5">
                            <div class="card-body">
                                <div th:if="${!plan.key.planStatus.toString().equals('DELETED')}" class="row mx-auto my-auto">
                                    <th:block th:if="${plan.key.dtype.equals('Term')}">
                                        <div class="col">
                                            <div class="position-relative"><span th:text="${plan.key.startDate}"></span>~<span th:text="${plan.key.endDate}"></span> <span th:text="${plan.key.endTime}"></span></div>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${plan.key.dtype.equals('Regular')}">
                                        <div class="col">
                                            <div class="position-relative">상시</div>
                                        </div>
                                    </th:block>
                                    <div class="col">
                                        <a th:href="@{/plan/{planId}(planId=${plan.key.id})}" th:text="${plan.key.title}"></a>
                                    </div>
                                    <div class="col">
                                        <span th:if="${plan.key.planStatus.toString().equals('PAST')}" th:text="${plan.key.planStatus}" class="badge bg-dark position-relative"></span>
                                        <span th:if="${plan.key.planStatus.toString().equals('COMPLETED')}" th:text="${plan.key.planStatus}" class="badge bg-secondary position-relative"></span>
                                        <span th:if="${plan.key.planStatus.toString().equals('NOW')}" th:text="${plan.key.planStatus}" class="badge bg-primary position-relative"></span>
                                    </div>
                                    <div class="col">
                                        <span th:text="${plan.value + '% 달성'}"></span>
                                    </div>
                                    <div class="col" id="emphasis">
                                        <fieldset th:if="${plan.key.planStatus.toString().equals('NOW')}" >
                                            <input type="checkbox" th:id="${'emphasis'+plan.key.id}" th:checked="${plan.key.emphasis==true}" th:attr="onclick=|switchPlanEmphasis('${plan.key.id}', 'list')|"><label th:for="${'emphasis'+plan.key.id}">⭐</label>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<script src="/js/sse.js"></script>
</body>
</html>