<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script async src="/js/jquery-3.6.0.min.js"></script>
    <script async src="/js/my.js"></script>
</head>
<body>
<!--제목-->
<div>
    <div>
        <span th:if="${plan.dtype.equals('Term')}"><span th:text="${plan.startDate}"></span>~<span th:text="${plan.endDate}"></span></span>
        <span th:if="${plan.dtype.equals('Regular')}">상시(시작일 : <span th:text="${plan.startDate}"></span> )</span>
        <span th:text="${plan.planStatus}"></span>
    </div>
    <div th:text="${plan.title}"></div>
</div>
<div>
    <form th:action="@{/plan}" method="post">
        <input type="hidden" name="planId" th:value="${plan.id}">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" th:value="DELETE"/>
    </form>
    <div th:if="${!plan.planStatus.toString().equals('PAST')}">
        <form th:action="@{/plan/switching}" method="post">
            <input type="hidden" name="planId" th:value="${plan.id}">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="submit" th:value="SWITCH"/>
        </form>
        <a th:href="@{/plan/type/{planId}(planId=${plan.id})}" th:text="'UPDATE'"/>
    </div>
</div>
<!--날짜로 검색-->
<form th:action="@{/plan/filtering}" th:object="${dateSearchForm}" method="post">
    <input type="hidden" name="planId" th:value="${plan.id}">
    <input type="date" id="startDate" name="startDate">
    <input type="date" id="endDate" name="endDate">
    <input type="submit">
</form>
<!--to-do 목록 출력-->
<div>
    <div th:each="todo : ${todosByPlanId}">
        <a th:attr="onclick=|getButtonBlock('${plan.id}','${todo.id}')|" th:text="${todo.title}"></a>
        <!--매일반복-->
            <span th:if="${todo.repOption==0}" th:text="'매일반복'"></span>
        <!--요일반복-->
            <span th:if="${todo.repOption==1}" th:text="'요일반복'"></span>
            <span th:if="${todo.repOption==1}" th:each="repVal : ${todo.repValue}">
                    <span th:text="${repVal}"></span>
            </span>
            <span th:if="${todo.repOption==1}">요일마다</span>
        <!--기간반복-->
            <span th:if="${todo.repOption==2}" th:text="'기간반복'"></span>
            <span th:if="${todo.repOption==2}" th:text="${todo.repValue.get(0)+'일마다'}"></span>
        <!--삭제 / 수정 버튼-->
        <div id="ButtonBlock"></div>
    </div>
</div>
<!--일자별 to-do-Date 출력-->
<div>
    <table th:each="entry : ${allToDatesByDate}">
        <th th:text="${entry.key}"></th>
        <tr th:each="todoDate : ${entry.value}">
            <div th:id="${todoDate.id}">
                <input type="checkbox" th:if=${todoDate.getDtype.toString().equals("Rep")} th:id="${todoDate.id}" th:name="${todoDate.id}" th:value="${todoDate.id}" th:attr="onclick=|switchTodoDateStatus(${todoDate.id})|" th:checked="${todoDate.todoStatus.toString().equals('CHECKED')}" th:disabled="${entry.key.isBefore(today) or todoDate.todo.plan.planStatus.toString().equals('PAST')}">
                <input type="checkbox" th:if=${todoDate.getDtype.toString().equals("Daily")} th:id="${todoDate.id}" th:name="${todoDate.id}" th:value="${todoDate.id}" th:attr="onclick=|switchTodoDateStatus(${todoDate.id})|" th:checked="${todoDate.todoStatus.toString().equals('CHECKED')}" th:disabled="${entry.key.isBefore(today) or todoDate.plan.planStatus.toString().equals('PAST')}">

                <span><a th:attr="onclick=|getTodoDateDetailBlock('${entry.key}','${todoDate.id}')|" th:text="${todoDate.title}"></a></span>

                <span id="delete-box">
                    <form th:if="${entry.key.isAfter(today) || entry.key.isEqual(today)}" th:id="${'deleteForm'+todoDate.id}">
                        <input type="hidden" name="pageInfo" value="plan">
                        <input type="hidden" name="selectedDate" th:value="${entry.key}">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="todoDateId" th:value="${todoDate.id}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="button" value="DEL" th:attr="onclick=|deleteTodoDate(${todoDate.id})|">
                    </form>
                </span>

                <input type="button" value="EDT" th:attr="onclick=|getTodoDateEditForm('plan', '${entry.key}', '${plan.id}', '${todoDate.id}')|">

                <div th:id="${'detailBlock'+todoDate.id}"></div>

                <div th:if="${entry.key.isAfter(today) || entry.key.isEqual(today)}" th:id="${'comment-register-box'+todoDate.id}" style="display: none;">
                    <form id="comment-form">
                        <input type="hidden" id="selectedDate" name="selectedDate" th:value="${entry.key}">
                        <input type="hidden" id="todoDateId" name="todoDateId" th:value="${todoDate.id}">
                        <input type="text" id="comment" name="comment" >
                        <button id="write" name="write" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </tr>
    </table>
</div>

<!--홈으로 돌아가기-->
<a th:href="@{/home}" th:text="'HOME'"/>
</body>
</html>