<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="/fragments/head.html :: fragment-header"></div>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments/common :: fragment-header" class="mb-auto"></header>

    <a href="/plan/regular" role="button" class="btn btn-primary">기간이 없는 일정</a>
    <a href="/plan/term" role="button" class="btn btn-primary">기간이 있는 일정</a>

    <footer th:replace="/fragments/common :: fragment-footer"></footer>
</div>
</body>
</html>