<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script async src="/js/jquery-3.6.0.min.js"></script>
    <script async src="/js/my.js"></script>
</head>
<body>
<!--제목-->
<div>
    <div>
        <span th:if="${plan.dtype.equals('Term')}"><span th:text="${plan.startDate}"></span>~<span th:text="${plan.endDate}"></span></span>
        <span th:if="${plan.dtype.equals('Regular')}">상시(시작일 : <span th:text="${plan.startDate}"></span> )</span>
        <span th:text="${plan.planStatus}"></span>
    </div>
    <div th:text="${plan.title}"></div>
</div>
<div>
    <form th:action="@{/plan/{planId}(planId=${plan.id})}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" th:value="DELETE"/>
    </form>
    <div th:if="${!plan.planStatus.toString().equals('PAST')}">
        <form th:action="@{/plan/{planId}(planId=${plan.id})/switching}" method="post">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="submit" th:value="SWITCH"/>
        </form>
        <a th:href="@{/plan/type/{planId}(planId=${plan.id})}" th:text="'UPDATE'"/>
    </div>
</div>
<!--날짜로 검색-->
<form th:action="@{/plan/{planId}(planId=${plan.id})/filtering}" th:object="${dateSearchForm}" method="post">
    <input type="date" id="startDate" name="startDate">
    <input type="date" id="endDate" name="endDate">
    <input type="submit">
</form>
<!--to-do 목록 출력-->
<div>
    <div th:each="todo : ${todosByPlanId}">
        <a th:attr="onclick=|getButtonBlock('${plan.id}','${todo.id}')|" th:text="${todo.title}"></a>
        <!--매일반복-->
            <span th:if="${todo.repOption==0}" th:text="'매일반복'"></span>
        <!--요일반복-->
            <span th:if="${todo.repOption==1}" th:text="'요일반복'"></span>
            <span th:if="${todo.repOption==1}" th:each="repVal : ${todo.repValue}">
                    <span th:text="${repVal}"></span>
            </span>
            <span th:if="${todo.repOption==1}">요일마다</span>
        <!--기간반복-->
            <span th:if="${todo.repOption==2}" th:text="'기간반복'"></span>
            <span th:if="${todo.repOption==2}" th:text="${todo.repValue.get(0)+'일마다'}"></span>
        <!--삭제 / 수정 버튼-->
        <div id="ButtonBlock"></div>
    </div>
</div>
<!--일자별 to-do 출력-->
<div>
    <table th:each="entry : ${allToDatesByDate}">
        <th th:text="${entry.key}"></th>
        <tr th:each="todoDate : ${entry.value}">
            <input type="checkbox" th:id="${todoDate.id}" th:name="${todoDate.id}" th:text="${todoDate.todo.title}" th:value="${todoDate.id}" th:attr="onclick=|planSwitchTodoDateStatus(${plan.id}, ${todoDate.id})|" th:checked="${todoDate.todoStatus.toString().equals('CHECKED')}" th:disabled="${entry.key.isBefore(today) or todoDate.todo.plan.planStatus.toString().equals('PAST')}">
        </tr>
    </table>
</div>

<!--홈으로 돌아가기-->
<a th:href="@{/home}" th:text="'HOME'"/>
</body>
</html>