<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--제목-->
<div>
    <div>
        <span th:if="${plan.dtype.equals('Term')}"><span th:text="${plan.startDate}"></span>~<span th:text="${plan.endDate}"></span></span>
        <span th:if="${plan.dtype.equals('Regular')}">상시(시작일 : <span th:text="${plan.startDate}"></span> )</span>
        <span th:text="${plan.planStatus}"></span>
    </div>
    <div th:text="${plan.title}"></div>
</div>
<div>
    <a th:href="@{/plan/delete/{planId}(planId=${plan.id})}" th:text="'DELETE'"/>
    <a th:href="@{/plan/finish/{planId}(planId=${plan.id})}" th:text="'FINISH'"/>
    <a th:href="@{/plan/update/type/{planId}(planId=${plan.id})}" th:text="'UPDATE'"/>
</div>
<!--날짜로 검색-->
<form th:action="@{/plan/regular/{planId}(planId=${plan.id})}" th:object="${dateSearchForm}" method="post">
    <input type="date" id="startDate" name="startDate">
    <input type="date" id="endDate" name="endDate">
    <input type="submit">
</form>

<!--일자별 to-do 출력-->
<div>
    <table th:each="entry : ${allTodosByDate}">
        <th th:text="${entry.key}"></th>
        <tr th:each="todo : ${entry.value}">
            <input type="checkbox" th:text="${todo.title}" th:value="${todo.id}">
        </tr>
    </table>
</div>

<!--홈으로 돌아가기-->
<a th:href="@{/home}" th:text="'HOME'"/>
</body>
</html>