<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="plan : ${plans}">
    <div th:if="${!plan.planStatus.toString().equals('DELETED')}">
        <span>
            <span th:if="${plan.dtype.equals('Term')}"><span th:text="${plan.startDate}"></span>~<span th:text="${plan.endDate}"></span></span>
            <span th:if="${plan.dtype.equals('Regular')}">상시</span>
        </span>
        <a th:href="@{/plan/{planId}(planId=${plan.id})}" th:text="${plan.title}"></a>
        <span th:text="${plan.planStatus}"></span>
    </div>
</div>
<a th:href="@{/home}" th:text="'HOME'"/>
</body>
</html>