<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${planTermUpdateForm}" th:action="@{/plan/term/{planId}(planId=${planId})}" method="post">
    <input type="date" id="startDate" name="startDate" th:value="*{startDate}">
    <input type="date" id="endDate" name="endDate" th:value="*{endDate}">
    <input type="text" id="title" name="title" th:value="*{title}">
    <input type="submit" value="UPDATE"/>
</form>
<a th:href="@{/home}" th:text="'X'"/>
</body>
</html>