<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="/fragments/head.html :: fragment-header"></div>
</head>
<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments/common :: fragment-header" class="mb-auto"></header>
    <main>
        <div class="section-header bg-primary text-white pb-7 pb-lg-11">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-md-8 text-center">
                        <h3 class="display-5 mb-4">Plan 수정</h3>
                    </div>
                </div>
            </div>
            <div class="section section-lg">
                <div class="container mt-n8 mt-lg-n13 z-2">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <!-- Card -->
                            <div class="card border-light shadow-soft p-2 p-md-4 p-lg-5">
                                <div class="card-body">
                                    <form th:object="${planTermUpdateForm}" th:action="@{/plan/term/{planId}(planId=${planId})}" method="post">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="title" class="form-label text-dark">타이틀</label>
                                                    <div class="input-group mb-4">
                                                        <input type="text" id="title" name="title" th:value="*{title}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="startDate" class="form-label text-dark">시작일</label>
                                                    <div class="input-group mb-4">
                                                        <input type="date" id="startDate" name="startDate" th:value="*{startDate}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="endDate" class="form-label text-dark">종료일</label>
                                                    <div class="input-group mb-4">
                                                        <input type="date" id="endDate" name="endDate" th:value="*{endDate}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-mb-3">
                                                <div class="form-group">
                                                    <label for="endTime" class="form-label text-dark">종료 시간</label>
                                                    <div class="input-group mb-4">
                                                        <input type="time" id="endTime" name="endTime" th:value="*{endTime}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-12 col-md-2">
                                                <input type="submit" value="UPDATE" class="btn btn-secondary mt-4 animate-up-2"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="text-center">
                                <button onclick="history.back()" class="btn btn-light mt-4 animate-up-2">BACK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>