<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p2>JOIN</p2>
<form th:object="${memberJoinForm}" th:action="@{/member/join}" method="post">
    <div>
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" th:field="*{email}" placeholder="이메일을 입력해주세요."/>
        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요."/>
        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
    </div>
    <div>
        <label for="nickname">별명</label>
        <input type="text" id="nickname" name="nickname" th:field="*{nickname}" placeholder="사용할 별명을 입력해주세요.">
        <small th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></small>
    </div>
    <input type="submit" value="전송"/>
</form>
<a href="../">이전으로</a>
</body>
</html>