<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="/fragments/head.html :: fragment-header"></div>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="row">
        <h4 class="display-4">JOIN</h4>
    </div>
    <div class="row">
        <form th:object="${memberJoinForm}" th:action="@{/member/join}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="text" id="email" name="email" class="form-control" th:field="*{email}" placeholder="이메일을 입력해주세요."/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" id="password" name="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력해주세요."/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="nickname" class="form-label">별명</label>
                <input type="text" id="nickname" name="nickname" class="form-control" th:field="*{nickname}" placeholder="사용할 별명을 입력해주세요."/>
                <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="permission" class="form-check-label">이 어플리케이션에서 푸쉬 알림 수신을 허용하시겠습니까?</label>
                <input type="checkbox" id="permission" name="permission" value="granted" th:field="*{permission}" class="round-check"/>
            </div>
            <div class="row gap-2">
                <input type="submit" id="deadline_alarm_submit" value="가입하기" class="btn btn-success"/>
            </div>
        </form>
    </div>
    <div class="row gap-2">
        <a href=".." class="btn btn-primary">이전으로</a>
    </div>
</div>
</body>
</html>