<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-header"></div>
</head>
<body>
    <div class="container-sm">
        <div class="row gap-2">
            <h1 class="display-3">PLAN TO DO</h1>
        </div>
        <div class="row gap-2">
            <h5>manage your life</h5>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-blue" href='/member/join'>JOIN US</a>
            <a class="btn btn-blue" href='/member/login'>LOGIN</a>
        </div>
    </div>
<script>
    sessionStorage.clear();
</script>
</body>
</html>