<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <script async src="/js/jquery-3.6.0.min.js"></script>
    <script async src="/js/my.js"></script>
</head>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>

<form th:action="@{/home}" th:object="${calendarSearchForm}" method="post">
    <input type="text" id="targetYear" name="targetYear" th:value="*{targetYear}">년
    <input type="text" id="targetMonth" name="targetMonth" th:value="*{targetMonth}">월
    <input type="submit" value="검색">
</form>
<caption th:text="${calendarSearchForm.targetMonth}"></caption>월
<table>
    <tr>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
        <th>토</th>
        <th>일</th>
    </tr>
    <tr th:each="calrow : ${calendar}">
        <th th:each="eachDate : ${calrow}">
            <span th:if="${eachDate == null}"> </span>
            <button th:if="${eachDate != null}" id = "eachDate" th:attr="onclick=|loadDateBlockData('${eachDate}')|" th:text="${eachDate.getDayOfMonth()}" th:value="${eachDate.getDayOfMonth()}"></button>
        </th>
    </tr>
</table>
<div id="dateBlock">
    <th:block th:if="${selectedDate != null}" th:text="${selectedDate}"></th:block>
    <th:block th:if="${dateBlockData != null}">
        <div th:each="entry : ${dateBlockData}">
            <a th:href="@{/plan/{planId}(planId=${entry.key.id})C}" th:text="${entry.key.title}"></a>
            <div th:each="todoDate : ${entry.value}">
                <input type="checkbox" th:id="${todoDate.id}" th:name="${todoDate.id}" th:text="${todoDate.todo.title}" th:value="${todoDate.id}" th:attr="onclick=|homeSwtichTodoDateStatus('${selectedDate}', '${todoDate.id}')|" th:checked="${todoDate.todoStatus.toString().equals('CHECKED')}" th:disabled="${selectedDate.isBefore(today) or todoDate.todo.plan.planStatus.toString().equals('PAST')}">
            </div>
        </div>
    </th:block>
</div>

<a href="/plan/type">PLAN REGISTER</a>
<a href="/plan/plans">MY PLANS</a>
<a href="/todo/register">TODO REGISTER</a>
<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>